*{
    margin:0;
    padding:0;
    font-family:'poppins',sans-serif;
}
.header{
    min-height:100vh;
    width:100%;
    background:#000;
    color:#fff;
    position: relative;
}
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
}
.logo{
    text-decoration: none;
    color:#fff;
    font-size:30px;
    font-weight:bold;
    padding-top:10px;
    padding-left: 10%;
    font-size:55px;
}
.nav-links{
    text-align:right;
    background:#f08;
    padding:10px 30px;
    border-bottom-left-radius: 18px;

}
.nav-links ul li{
    list-style: none;
    display:inline-block;
    padding:10px 25px;
}
.nav-links ul li a{
    color:#fff;
    text-decoration: none;
    font: size 18px;
}
.left-sidebar{
    width:20%;
    height:90%;
    position: absolute;
    left:'0';
    top:'0';
    background:#f08;

}
.row{
    padding:0 10%;
    display: flex ;
    align-items: flex-end;
    justify-content: space-between;
    position:relative;
    margin: top 5%;
}
.left-col{
    flex-basis: 40%;
}
.right-col{
    flex-basis:55%;
    z-index: 1;

}
.left-col img{
    width:80%;
    cursor:pointer;
    filter:grayscale (0);
    transition: filter 1s;
}
.left-col img:hover{
    filter:grayscale(1);

}
.right-col h1{
    font-size:45px;
    font-weight:600;

}
.right-col p{
    color:#777;
    margin:20px 0 70px;
    font-size:20px;
}
 /* where container starts */
.container{
    position: relative;
    width:1100px;
    display:flex;
    flex-wrap: wrap;
}
.container .box
{
    position: relative;
    width:275px;
    height: 275px;
    overflow:hidden;
    transition: 0.5s;
}
.container .box:hover
{
    z-index: 1;
    transform: scale(1.25);
    box-shadow: 0 25px 40px rgba(0,0,0,.5);
}
.container .box .imgBx
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.container .box .imgBx::before
{
    content: '';
    position: absolute;
    top: 0 ;
    left: 0;
    width:  100%;
    height: 100%;
    z-index:1;
    background: linear-gradient(180deg,#f08,#000);
    mix-blend-mode: multiply;
    opacity: 0;
    transition: 0.5s;
}

.container .box:hover .imgBx::before
{
    opacity: 1;
}
.container .box .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container .box .content
{
    left:0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display:flex;
    padding: 20px;
    align-items:felx-end;
}
.container .box .content h2
{
    color:#000;
    transition: 0.5s;
    text-transform: uppercase;
    margin: bottom 5px;
    font-size: 20px;
    transform: translateY(200px);
}
.container .box:hover .content h2
{
    transform:translateY(0);
    transition-delay: 0.7s;
}
.container .box .content p
{
    color:#fff;
    transform:translateY(200px);
    transition: 0.5s;
    font-size: 14px;
}
.container .box:hover .content p
{
    transform:translateY(0);
    transition-delay: 0.7s;
}
footer{
    position:relative;
    width:100%;
    background:#212329;
    min-height: 100px;
    padding:20px 50px;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;

}
footer .social_icon,
footer .menu{
    position:relative;
    display: flex;
    justify-content: center;
    align-items:center;
    margin:10px 0;
    flex-wrap:wrap;
}
footer .social_icon li,
footer .menu li{
    list-style:none;
}
footer .social_icon li a,
footer .menu li a{
    font-size:2em;
    color:#fff;
    display: inline-block;
    transition:0.5s;
    margin:0 10px;
}
footer .social_icon li a:hover{
    transform:translateY(-10px);
}


footer .menu li a{
    font-size:1.2em;
    color:#fff;
    display: inline-block;
    transition:0.5s;
    margin:0 10px;
    text-decoration:none;
    opacity:0.75;
}

footer .menu li a:hover{
    opacity:1;
}
footer p{
    color:#fff;
    margin-top:15px;
    margin-bottom: 10px;
    font-size:1.1em;
}

footer .wave{
    position: absolute;
    top:-100px;
    left:0;
    width:100%;
    height:100px;
    background: url(wave.png);
    background: size 1000px 100px;
}
footer .wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom:0;
    animation:animateWave 4s linear infinite;
}
footer .wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom:10px;
    animation:animateWave_02 4s linear infinite;
}

footer .wave#wave3{
    z-index: 1000;
    opacity: 0.2;
    bottom:15px;
    animation:animateWave 3s linear infinite;
}
footer .wave#wave4{
    z-index: 999;
    opacity: 0.7;
    bottom:20px;
    animation:animateWave_02 3s linear infinite;
}
@keyframes animateWave
{
    0%
    {
        background-position-x: 1000px;
    }
    100%
    {
        background-position-x: 0px;
    }
}
@keyframes animateWave_02
{
    0%
    {
        background-position-x: 0px;
    }
    100%
    {
        background-position-x: 1000px;
    }
}
.popup{
    position: fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.contentBox{
    position: relative;
    width:600px;
    height:400px;
    background:#fff;
    border-radius: 20px;
    display:flex;
    box-shadow: 0 5px 15px rgba(0,0,0.1);

}